
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


* { 
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body { 
    /* background-color: black; */
}


.main { 
    height: 100vh;
    /* border: 10px solid rgb(223, 38, 38); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}


.container { 
    width: 30rem;
    
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
}

button { width: 100%;
    font-size: 2rem;
   display: block;
   color: aqua;
   background-color: rgb(45, 18, 50);
   cursor: pointer;
   animation-name: btn;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

@keyframes btn {
    50% { 
        
        box-shadow: 0px 0px 95px 95px greenyellow;

        transition: 3s;
    }
    50% {  
        box-shadow: 0px 0px 17px 2px greenyellow;
        transition: 3s;
    }
}





  





